html,
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: calc(100vw / 15 * 2);
}
body {
  font-size: 12px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h1 {
  color: green;
}
/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
button {
  padding: 0;
  margin: 0;
  background-color: inherit;
  border: 0;
  outline: none;
}
.home-banner .slick-dots {
  position: absolute;
  top: 3.2rem;
  right: 0.3rem;
  line-height: 0.01rem;
  width: auto;
}
.home-banner .slick-dots li {
  width: 0.14rem;
  height: 0.18rem;
  margin: 0.05rem;
  display: inline-block;
  background: url('../public/img/dot_grey.png');
  background-size: 100%;
}
.home-banner .slick-dots li button {
  display: none;
}
.home-banner .slick-dots .slick-active {
  background: url('../public/img/dot.jpg');
  background-size: 100%;
}

.home-nav {
  background: #fff;
  border-radius: 0.06rem;
}

/* 一像素 下边框 */
.border-b-1px,
.border-all-1px {
  position: relative;
}
.border-all-1px::after {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 0.09rem;
}
.border-b-1px::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}
/* 二倍屏下缩放 */
@media (-webkit-min-device-pixel-ratil: 2), (min-device-pixel-ratil: 2) {
  .border-b-1px::after {
    transform: scaleY(0.5);
  }
  .border-all-1px {
    border: none !important;
  }
  .border-all-1px::after {
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top;
    border-radius: 0.18rem;
  }
}
  