#login_boxWrap {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 100%;
  background: url(../images/login_bg.jpg) no-repeat;
  background-size: 100% 100%;
}
.login_register {
  background: url(../images/login_title.png) no-repeat;
  background-size: 100% auto;
  width: 3.01333333rem;
  height: 1.08rem;
  margin: 1.86666667rem auto;
}
.login_register span {
  display: none;
}
.login_register_box {
  perspective: 10.66666667rem;
  width: 8.66666667rem;
  height: 11.36rem;
  margin: 0 auto;
  padding-bottom: 1.61333333rem;
}
.login_register_box .box {
  transform-style: preserve-3d;
  height: 100%;
  position: relative;
  transition: .5s;
}
.login_register_box .login_box,
.login_register_box .register_box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  backface-visibility: hidden;
  box-shadow: 0.06666667rem 0.06666667rem 0.13333333rem rgba(57, 160, 136, 0.5);
}
.login_register_box .login_box {
  padding: 0.81333333rem 0.93333333rem 0px 0.96rem;
  box-sizing: border-box;
}
.login_register_box .user_img {
  text-align: center;
}
.login_register_box .user_img img {
  width: 1.62666667rem;
  height: 1.62666667rem;
}
.login_register_box .user_img figcaption {
  font: bold 0.4rem / 1.26666667rem fzlt;
}
.login_register_box .login_form {
  padding-top: 0.58666667rem;
}
.login_register_box .login_form input[type="text"],
.login_register_box .login_form input[type="password"] {
  color: #666666;
  font: 0.34666667rem / 0.97333333rem fzlt;
  text-indent: 0.8rem;
  display: block;
  width: 100%;
  border-bottom: 0.02666667rem solid #c1c8cb;
}
.login_register_box .login_form input[type="text"]:focus,
.login_register_box .login_form input[type="password"]:focus {
  border-color: #e15671;
  color: #e15671;
}
.login_register_box .login_form input[type="text"]:focus::-webkit-input-placeholder,
.login_register_box .login_form input[type="password"]:focus::-webkit-input-placeholder {
  color: #e15671;
}
.login_register_box .login_form input[type="text"] {
  height: 0.97333333rem;
  background: url('../images/icon_email.png') no-repeat left 0.30666667rem;
  background-size: 0.46666667rem 0.36rem;
}
.login_register_box .login_form input[type="text"]:focus {
  background-image: url('../images/icon_email_focus.png');
}
.login_register_box .login_form input[type="password"] {
  height: 0.97333333rem;
  background: url('../images/icon_lock.png') no-repeat left 0.20666667rem;
  background-size: 0.38666667rem 0.44rem;
  line-height: 1.45333333rem;
}
.verifyCode {
  float: left;
  width: 2.8rem !important;
}
.verify {
  float: left;
  width: 3.6rem;
}
.login_register_box .login_form input[type="password"]:focus {
  background-image: url('../images/icon_lock_focus.png');
}
.login_register_box .login_form input[type="checkbox"] {
  display: none;
}
.login_register_box .login_form input[type="checkbox"]:checked + label {
  background: #e15671;
}
.login_register_box .login_form label[for="rem"] {
  width: 0.36rem;
  height: 0.36rem;
  border: 0.02666667rem solid #c1c8cb;
  display: inline-block;
  vertical-align: top;
  margin-top: 0.42666667rem;
  margin-right: 0.37333333rem;
  position: relative;
}
.login_register_box .login_form .mima {
  font: bold 0.34666667rem / 1.25333333rem fzlt;
  color: #666666;
}
.login_register_box .login_form .mima span {
  float: left;
}
.login_register_box .login_form .mima a {
  float: right;
  color: #e15671;
}
.login_register_box .register_box {
  transform: rotateY(180deg);
  padding: 0 0.93333333rem 0 0.96rem;
  box-sizing: border-box;
}
.login_register_box .register_box h3 {
  font: bold 0.53333333rem / 1.52rem fzlt;
  text-align: center;
}
.login_register_box .register_box input[type="text"],
.login_register_box .register_box input[type="password"] {
  font: bold 0.34666667rem fzlt;
  height: 0.97333333rem;
  display: block;
  width: 100%;
  background: none;
  border-bottom: 0.02666667rem solid #c1c8cb;
}
.login_register_box .register_box input[type="text"]:focus,
.login_register_box .register_box input[type="password"]:focus {
  border-color: #e15671;
  color: #e15671;
}
.login_register_box .register_box input[type="text"]:focus::-webkit-input-placeholder,
.login_register_box .register_box input[type="password"]:focus::-webkit-input-placeholder {
  color: #e15671;
}
.login_register_box .register_box .form_btn {
  margin-top: 0.62666667rem;
}
.login_register_box .register_box .form_tip {
  line-height: 1.46666667rem;
}
.login_register_box .form_btn {
  color: #fff;
  width: 4.18666667rem;
  height: 0.93333333rem;
  border: none;
  font: 0.4rem fzlt;
  background: url('../images/button_bg.png') no-repeat;
  background-size: 100% 100%;
  box-shadow: 0.02666667rem 0.02666667rem 0.06666667rem rgba(255, 86, 113, 0.5);
  border-radius: 0.46666667rem;
  display: block;
  margin: 0.4rem auto 0;
}
.login_register_box .form_tip {
  text-align: center;
  font: bold 0.4rem / 1.4rem fzlt;
  color: #666666;
}
.login_register_box .form_tip a {
  color: #e15671;
}
